{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ question.content }}详情</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="{{ question.content }}">
    <meta name="description"
          content="{{ question.content }}">
    <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <script src="{% static 'layui/layui.js' %}"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
    <style type="text/css" rel="stylesheet">
        form {
            margin: 0;
        }

        .editor {
            margin-top: 5px;
            margin-bottom: 5px;
        }
    </style>

</head>
<body>
<!--{#	<iframe  src="{% static 'head.html' %}" scrolling="no" width="100%" height="65px" ></iframe>#}-->
<div class="header" style="position: relative; margin-bottom: 30px;">
    <div class="main">
        <a class="title" href="{% url 'index' 1 %}" target="_parent" title="浦江">
            <i class="iconfont icon-jiaoliu layui-hide-xs" style="font-size: 22px;"></i>
            你问我答社区</a>
        <!--{#				<div class="nav">#}-->
        <!--{#					<a class="nav-this" href="index.html">#}-->
        <!--{#						<i class="iconfont icon-wenda"></i>你问我答</a>#}-->
        <!--{#				</div>#}-->
        <div class="nav-user">
            <form action="" class="fly-search">
                <i class="iconfont icon-sousuo"></i>
                <input class="layui-input" autocomplete="off" placeholder="搜索内容" type="text" name="q">
            </form>
        </div>
        <div class="main layui-clear">
            <div class="wrap">
                <div class="content detail">
                    <div class="fly-panel detail-box">
                        <h1>{{ question.content }}</h1>
                        <div class="fly-tip fly-detail-hint" data-id="">
                            <a href="{% url 'list' question.tag 1 %}">
                                <span class="fly-tip-stick">{{ question.tag }}</span>
                            </a>
                            <div class="fly-list-hint">
                                <i class="iconfont" title="回答">&#xe60c;</i> {{ question.answer_count }}
                            </div>
                        </div>
                        <div class="detail-about">
                            <a class="jie-user" href="">
                                {% ifequal question.avatar_index 0 %}
                                    <img src="{% static 'images/avatar/0.jpg' %}" alt="头像">
                                {% endifequal %}
                                {% ifequal question.avatar_index 1 %}
                                    <img src="{% static 'images/avatar/1.jpg' %}" alt="头像">
                                {% endifequal %}
                                {% ifequal question.avatar_index 2 %}
                                    <img src="{% static 'images/avatar/2.jpg' %}" alt="头像">
                                {% endifequal %}
                                {% ifequal question.avatar_index 3 %}
                                    <img src="{% static 'images/avatar/3.jpg' %}" alt="头像">
                                {% endifequal %}
                                {% ifequal question.avatar_index 4 %}
                                    <img src="{% static 'images/avatar/4.jpg' %}" alt="头像">
                                {% endifequal %}
                                {% ifequal question.avatar_index 5 %}
                                    <img src="{% static 'images/avatar/5.jpg' %}" alt="头像">
                                {% endifequal %}
                                {% ifequal question.avatar_index 6 %}
                                    <img src="{% static 'images/avatar/6.jpg' %}" alt="头像">
                                {% endifequal %}
                                {% ifequal question.avatar_index 7 %}
                                    <img src="{% static 'images/avatar/7.jpg' %}" alt="头像">
                                {% endifequal %}
                                {% ifequal question.avatar_index 8 %}
                                    <img src="{% static 'images/avatar/8.jpg' %}" alt="头像">
                                {% endifequal %}
                                {% ifequal question.avatar_index 9 %}
                                    <img src="{% static 'images/avatar/9.jpg' %}" alt="头像">
                                {% endifequal %}
                                {% ifequal question.avatar_index 10 %}
                                    <img src="{% static 'images/avatar/10.jpg' %}" alt="头像">
                                {% endifequal %}
                                {% ifequal question.avatar_index 11 %}
                                    <img src="{% static 'images/avatar/11.jpg' %}" alt="头像">
                                {% endifequal %}
                                {% ifequal question.avatar_index 12 %}
                                    <img src="{% static 'images/avatar/12.jpg' %}" alt="头像">
                                {% endifequal %}
                                <cite> {{ question.username }}
                                    <em>{{ question.add_date }}发布</em> </cite> </a>
                            <div class="detail-hits" data-id="{{ rows.id }}">
							 <span class="layui-btn layui-btn-mini jie-admin"><a
                                     href="#">已完帖，无法编辑</a> </span>
                            </div>
                        </div>
                    </div>
                    <div class="fly-panel detail-box" style="padding-top: 0;">
                        <a name="comment"></a>
                        <ul class="jieda photos" id="jieda">
                            {% for answer in question.answers  %}
                                <li data-id="12" class="jieda-daan">
                                    <a name="item-121212121212"></a>
                                    <div class="detail-about detail-about-reply">
                                        <a class="jie-user" href="">
                                            {% ifequal answer.avatar_index 0 %}
                                                <img src="{% static 'images/avatar/0.jpg' %}" alt="头像">
                                            {% endifequal %}
                                            {% ifequal answer.avatar_index 1 %}
                                                <img src="{% static 'images/avatar/1.jpg' %}" alt="头像">
                                            {% endifequal %}
                                            {% ifequal answer.avatar_index 2 %}
                                                <img src="{% static 'images/avatar/2.jpg' %}" alt="头像">
                                            {% endifequal %}
                                            {% ifequal answer.avatar_index 3 %}
                                                <img src="{% static 'images/avatar/3.jpg' %}" alt="头像">
                                            {% endifequal %}
                                            {% ifequal answer.avatar_index 4 %}
                                                <img src="{% static 'images/avatar/4.jpg' %}" alt="头像">
                                            {% endifequal %}
                                            {% ifequal answer.avatar_index 5 %}
                                                <img src="{% static 'images/avatar/5.jpg' %}" alt="头像">
                                            {% endifequal %}
                                            {% ifequal answer.avatar_index 6 %}
                                                <img src="{% static 'images/avatar/6.jpg' %}" alt="头像">
                                            {% endifequal %}
                                            {% ifequal answer.avatar_index 7 %}
                                                <img src="{% static 'images/avatar/7.jpg' %}" alt="头像">
                                            {% endifequal %}
                                            {% ifequal answer.avatar_index 8 %}
                                                <img src="{% static 'images/avatar/8.jpg' %}" alt="头像">
                                            {% endifequal %}
                                            {% ifequal answer.avatar_index 9 %}
                                                <img src="{% static 'images/avatar/9.jpg' %}" alt="头像">
                                            {% endifequal %}
                                            {% ifequal answer.avatar_index 10 %}
                                                <img src="{% static 'images/avatar/10.jpg' %}" alt="头像">
                                            {% endifequal %}
                                            {% ifequal answer.avatar_index 11 %}
                                                <img src="{% static 'images/avatar/11.jpg' %}" alt="头像">
                                            {% endifequal %}
                                            {% ifequal answer.avatar_index 12 %}
                                                <img src="{% static 'images/avatar/12.jpg' %}" alt="头像">
                                            {% endifequal %}
                                            <cite> <i>{{ answer.username }}</i></cite>
                                        </a>
                                        <div class="detail-hits">
                                            <span>{{ answer.add_time | date:"Y年m月d日H时" }}</span>
                                        </div>
                                        <i class="iconfont icon-caina" title="最佳答案"></i>
                                    </div>
                                    <div class="detail-body jieda-body">
                                        <p>{{ answer.content }}</p>
                                    </div>
                                    <div class="jieda-reply">
                                    <span class="jieda-zan zanok" type="zan"><i
                                            class="iconfont icon-zan"></i><em>{{ answer.liked_num }}</em>
                                    </span>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                        <!--					<span id="toName">@ 压缩(楼主)</span>-->
                        <div class="layui-form layui-form-pane">
                            <form action="">
                                <div class="layui-form-item layui-form-text">
                                </div>
                                <div class="layui-form-item">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="edge">
                <dl class="fly-panel fly-list-one">
                    <dt class="fly-panel-title">猜你想看</dt>
                    <dd>
                        <a href="">使用 layui 秒搭后台大布局（基本结构）</a>
                    </dd>
                </dl>
            </div>
        </div>
        <script type="text/javascript" charset="utf-8" src="{% static 'js/kindeditor.js' %}"></script>
        <script type="text/javascript">
            KE.show({
                id: 'L_content',
                resizeMode: 1,
                items: [
                    'fontname', 'fontsize', 'textcolor', 'bgcolor', 'bold', 'italic', 'underline',
                    'removeformat', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
                    'insertunorderedlist', 'emoticons', 'image', 'link']
            });
        </script>
</body>
</html>